.env
!.env.example

# Eliminating temporary files and the Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env/
venv/

# Exclude Ansible configuration files that may contain local paths
.ansible_cache/
.ansible_vault_pass