groups:
  - name: oracle_exporter_alerts
    rules:
      - alert: OracleHighActiveSessions
        expr: oracle_active_user_sessions > 300
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Критическая нагрузка на Oracle DB"
          description: {% raw %}"Количество сессий: {{ $value }} (порог 50) держится > 2 минут."{% endraw %}

      - alert: OracleAgentDead
        expr: time() - push_time_seconds{job="oracle_exporter"} > 30
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Агент мониторинга Oracle отключился"
          description: "Pushgateway не получал обновлений от скрипта уже более 30 секунд."
