global:
  resolve_timeout: 5m
  # Настройки SMTP-сервера
  smtp_smarthost: 'smtp.mail.ru:587'
  smtp_from: 'incleads@mail.ru'
  smtp_auth_username: 'incleads@mail.ru'
  smtp_auth_password: '{{ vault_secrets.smtp_password }}'
  smtp_require_tls: true

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'email-alerts'

receivers:
- name: 'email-alerts'
  email_configs:
  - to: 'Oleg.workcorr@yandex.ru'
    html: |
      {% raw %}<h3>🚨 [ОБНАРУЖЕН АЛЕРТ] {{ .CommonLabels.alertname }}</h3>
      <b>Важность:</b> {{ .CommonLabels.severity }}<br><br>
      {{ range .Alerts }}
      📌 <b>Суть:</b> {{ .Annotations.summary }}<br>
      📝 <b>Детали:</b> {{ .Annotations.description }}<br>
      ⏳ <b>Старт:</b> {{ .StartsAt.Format "15:04:05 02-01-2006" }}<br>
      {{ end }}{% endraw %}
